.header {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 8px 0;

  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.headerContent {
  width: 100%;
  max-width: 900px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 20px;
}

.headerLogo {
  background-color: #000;
  color: #fff;
  padding: 4px 8px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 4px;
}

.headerProfile {
  border: 1px solid #3b49df;
  color: #3b49df;
  padding: 4px 8px;
  font-size: 18px;
  border-radius: 4px;
  outline: none;
}
