.formButton {
    margin-top: 16px;
    margin-bottom: 16px;

    border: none;
    border-radius: 8px;
    outline: none;
    background-color: #3b49df;
    color: #FFF;

    padding: 8px;
    font-size: 18px;
}

.formButton::after {
    
}